<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tech Blog</title>

<body>
    <!-- header -->
    <header id="header-background">
        <h1>Tech Blog</h1>
        <div id="header-buttons">
            <a href="/home">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
            <button id="logout">Logout</button>
            {{else}}
            <a id="login" href="/login">Login</a>
            {{/if}}
    </header>

    <main>
        {{{ body }}}
    </main>
    
</body>
<script src="/javascript/logout.js"></script>
</html>