<section>
    <div>
        <h1>Log In</h1>
    </div>
    <div>
        <form class="login-form">
            <div>
                <label for="username">Username</label>
                <input type="text" class="entry-field" id="username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="entry-field" id="password" />
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
    <a href="/signup">Don't have an account yet? sign up instead!</a>
</section>
<script src="/javascript/login.js"></script>