<section>
    <div>
        <h1>Sign Up</h1>
    </div>
    <div>
        <form>
            <div>
                <label for="username">Enter a Username</label>
                <input type="text" class="entry-field" id="username" />
            </div>
            <div>
                <label for="password">Select a password</label>
                <input type="password" class="entry-field" id="password" />
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">Already have an account? log in instead!</a>
</section>